<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenericCallExecute.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ShipmentEventPollSpecificSoap" />
                <binding name="ShipmentEventPollSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ShipmentEventPollSpecificSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ShipmentEventPollSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://77.66.63.159/Services/Automation/V2/ShipmentEventPoll.asmx"
                binding="customBinding" bindingConfiguration="ShipmentEventPollSoap12"
                contract="GenericCallP0.ShipmentEventPollSoap" name="ShipmentEventPollSoap12" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <GenericCallExecute.Application>
            <setting name="LocalPath" serializeAs="String">
                <value>Services/Automation/V2/XXXXXXX.asmx</value>
            </setting>
            <setting name="ReceiveTimeout" serializeAs="String">
                <value>00:20:00</value>
            </setting>
            <setting name="SendTimeout" serializeAs="String">
                <value>00:20:00</value>
            </setting>
            <setting name="ParmeterCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value>na</value>
            </setting>
            <setting name="HostList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://77.66.63.159</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LogHeadline" serializeAs="String">
                <value>XXXX-logfile-headline-XXXX</value>
            </setting>
        </GenericCallExecute.Application>
    </applicationSettings>

  <system.diagnostics>
    <trace autoflush="false" />
    <assert assertuienabled="false" logfilename="C:\Users\Administrator\Downloads\Logging\System.log" />
  </system.diagnostics>


</configuration>